<div class="task-manager">
  <div class="algorithm-panel">
    <span>Run Algorithm</span>
    <button type="button" (click)="runRMS()">RMS</button>
    <button type="button" (click)="runEDF()">EDF</button>
    <button type="button" (click)="runByID()">ID</button>
  </div>
  <div class="new-task-form">

    <div class="labeled-input">
      <span>T</span>
      <input [(ngModel)]="newTask.period" type="number">
    </div>
    <div class="labeled-input">
      <span>C</span>
      <input [(ngModel)]="newTask.duration" type="number">
    </div>
    <div class="labeled-input">
      <span>D</span>
      <input [(ngModel)]="newTask.deadline" type="number">
    </div>
    <!-- <div class="labeled-checkbox">
      <input [(ngModel)]="newTask.isAsync" [ngModelOptions]="{standalone: true}" type="checkbox" id="asyncTask">
      <label for="asyncTask">Assíncrona</label>
    </div> -->
    <button type="button" (click)="addTask()">Add Task</button>
  </div>
  <div class="details-panel">
    <div class="detail-group">
      <span>Algoritmo:</span>
      <span class="detail-data">{{algorithm}}</span>
    </div>
    <div class="detail-group">
    </div>
    <div class="detail-group">
      <span>Tempo máx:</span>
      <span class="detail-data">{{maxRange}}</span>
    </div>
    <div class="detail-group">
      <span>Utilização:</span>
      <span class="detail-data">{{utilization}}%</span>
    </div>
    <div class="detail-group">
      <span>Funcionou?</span>
      <span
        class="detail-data"
        [ngStyle]="{ color: runOk ? 'lime' : 'red' }"
      >
        {{runOk ? 'sim' : 'erro' }}
      </span>
    </div>
    <div class="detail-group">
      <span>Teste?</span>
      <span
        class="detail-data"
        [ngStyle]="{ color: (algorithm === 'ID') ? 'lime' : runTest ? 'lime' : 'red' }"
      >
        {{(algorithm === 'ID') ? '-' : runTest ? 'sim' : 'erro' }}
      </span>
    </div>
  </div>
  <div class="tasks-table-panel custom-scroll">
    <table class="tasktable" id="table-of-tasks">
      <thead>
        <tr>
          <th scope="col">Task ID</th>
          <th scope="col">T</th>
          <th scope="col">C</th>
          <th scope="col">D</th>
          <th scope="col">Del</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks" [ngStyle]="{ backgroundColor: task.color }">
          <td>{{task.id}}</td>
          <td>{{task.period}}</td>
          <td>{{task.duration}}</td>
          <td>{{(algorithm === 'EDF') ? task.deadline : task.period}}</td>
          <td><button type="button" (click)="removeTask(task.id)"><span>close</span></button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="timeline-group custom-scroll">
  <app-timeline
    *ngFor="let period of tasks"
    [task]="period"
    [algorithm]="algorithm"
    [maxRange]="maxRange"
  ></app-timeline>
</div>